#portfolio {
    background-color: var(--body-color);
}

#portfolio .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.2);
}


#portfolio .title{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    text-shadow: 2px 2px black;
    transition: height 0.3s ease-in;
}

#portfolio .tech-stacks{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
}

#portfolio .tech-stacks ol{
    position: relative;
    top: 10px;
    list-style: disc;
    list-style-position: inside;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1rem;
    gap: 5px; 
    text-shadow: 2px 2px black;
}


.button_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    /* margin-top: 4rem; */
}

.button_wrapper>button {
    height: 2rem;
    padding: 0 1rem;
    cursor: pointer;
    border: none;
    border-radius: 10%;
}

.button_wrapper>button.active {
    background-color: var(--first-color);
    color: white;
}

.image_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

.image_container > .image_card {
    color: white;
    position: relative;
    height: 15rem;
}

.image_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image_card .clickables {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5); /* Green color with 20% opacity */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.github-icon {
    font-size: 1.25rem;
    color: var(--first-color-alt);
}

.github-icon:hover {
    color: var(--first-color);
}

.live-btn {
    background-color: transparent;
    border-color: var(--first-color);
    /* border: none; */
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
}

.live-btn a {
    text-decoration: none;
    color: var(--first-color-alt);
}

.live-btn a:hover{
    color: var(--first-color);
}

.more-btn {
    background-color: transparent;
    /* border: none; */
    padding: 2px;
    border-color: var(--first-color-alt);
    color: var(--first-color-alt);
    cursor: pointer;
}

.more-btn:hover{
    color: var(--first-color);
}

